@import "~antd/dist/antd.css";
@import "~normalize.css";
/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

input,
textarea,
button,
select,
a {
  outline: none;
  border: none;
}
/* 容器宽度1100px 居中 */
.wrap_1100_center {
  width: 1100px;
  margin: 0 auto;
}

/* 容器宽度730 居中 */
.wrap_730_center {
  width: 982px;
  margin: 0 auto;
}
.wrap_980_center {
  width: 980px;
  margin: 0 auto;
}
.absolute_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 精灵图 */
.sprite_topbar {
  background: url(../assets/images/sprite_topbar.png) no-repeat;
}
