.play_container {
  position: fixed;
  height: 52px;
  z-index: 99;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../../../assets/images/playbar.png) repeat 0 0;
  .lock {
    background: url(../../../assets/images/playbar.png);
    position: absolute;
    background-position: 0 -380px;
    top: -14px;
    right: 15px;
    width: 52px;
    height: 67px;
    .btn {
      background: url(../../../assets/images/playbar.png);
      display: block;
      width: 18px;
      height: 18px;
      margin: 6px 0 0 17px;
      background-position: -100px -380px;
      &:hover {
        background-position: -100px -400px;
      }
    }
  }
  // background-position: 0 0;
  // background-repeat: repeat;
  .content {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 47px;
    transform: translateX(-50%);

    .btns {
      display: flex;
      align-items: center;
      .btn {
        cursor: pointer;
        background: url("../../../assets/images/playbar.png") no-repeat 0 9999px;
      }

      .pre,
      .next {
        width: 28px;
        height: 28px;
      }

      .pre {
        background-position: 0 -130px;
        &:hover {
          background-position: -30px -130px;
        }
      }
      .play {
        width: 36px;
        height: 36px;
        margin: 0 8px;
        background-position: 0 -165px;
        &:hover {
          background-position: -40px -165px;
        }
      }
      .next {
        background-position: -80px -130px;
        &:hover {
          background-position: -110px -130px;
        }
      }
    }
    .space {
      width: 29px;
      height: 47px;
    }
    .song_cover {
      width: 34px;
      height: 34px;
      position: relative;
      margin: 6px 15px 0 0;
      img {
        width: 34px;
        height: 34px;
      }
      .mask {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 34px;
        height: 35px;
        background-position: 0 -80px;
      }
    }
    .play {
      width: 608px;
      .m-playbar .words {
        height: 28px;
        overflow: hidden;

        text-shadow: 0 1px 0 #171717;
        line-height: 28px;
        .m-playbar .words .name {
          color: #fff;
          max-width: 300px;
        }
        .m-playbar .words .fc1 {
          color: #e8e8e8;
        }
        .f-thide {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;
          .singer {
            &:hover {
              color: #666;
            }
          }
        }
        .f-fl {
          float: left;
        }
      }
      .pbar {
        width: 493px;
        .ant-slider {
          padding: 0;
          margin: 0;
          width: 493px;
          height: 9px;
          .ant-slider-rail {
            width: 493px;
            border-radius: 2px;
            height: 9px;
            background-color: #535353;
          }
          .ant-slider-track {
            height: 9px;
            background-color: #c70c0c;
          }
          .ant-slider-step {
            border-radius: 2px;
            height: 9px;
          }
          .ant-slider-handle {
            width: 22px;
            height: 24px;
            margin-top: -7px;
            background: url("../../../assets//images/sprite_icon.png") 0 -250px;
            border: none;
          }
        }
        .time {
          position: absolute;
          top: 21px;
          right: 215px;
          color: #797979;
          span {
            color: #a1a1a1;
          }
          text-shadow: 0 1px 0 #121212;
        }
      }
      .oper {
        width: 60px;
        float: left;
      }
    }
    .warp_con {
      display: flex;
      position: relative;
      top: 5px;
      .left {
        display: flex;
        height: 47px;
        align-items: center;
      }
    }

    .btn {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .favor {
      background-position: -88px -163px;
      cursor: pointer;
    }

    .share {
      background-position: -114px -163px;
      cursor: pointer;
    }
    .right {
      display: flex;
      align-items: center;
      width: 126px;
      padding-left: 13px;

      background-position: -147px -248px;

      .volume {
        background-position: -2px -248px;
      }

      .loop {
        background-position: -66px -248px;
      }

      .playlist {
        padding-left: 18px;
        text-align: center;
        color: #ccc;
        width: 59px;
        background-position: -42px -68px;
      }
    }
  }
}
